body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    background-color: #1F2937;
}

.hero1{
    display: flex;
    background-color: #1F2937;
    margin: 0;
    height: 350px;
    flex-direction: column;
    color: white;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 20px;
    justify-content: center;
    margin: 0 300px;
    flex-direction: row;
}

.links {
    display: flex;
    margin-left: auto;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
}

a {
    color: #E5E7EB;
}

a:link {
    text-decoration: none;
}

#logo {
    width: 120px;
    height: auto;
}

.introduction {
    margin: 0 300px;
    display: flex;
    flex-direction: column;
}

#awesome {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 5px;
   
}

#subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.introduction button{
     border-radius: 15px;
     padding: 2px;
     font-size: 18px;
     height: 50px;
     width: 120px;
     color: white;
     background-color: #3882F6;
     border: 0;
     font-weight: bold;
     
}

.programming img{
    width: 500px;
    height: auto;
}
.programming {
    display: flex;
    flex-direction: column;
}

